.footer {
    height: 200px;
    background: #232323;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    ul {
        list-style: none;
        padding: 0;
    }

    li {
        text-align: center;
        padding: 2px 0;
    }

    a {
        text-decoration: none;
        color: #fba536;
    }

    .text {
        margin: 0;
    }
}



